@font-face {
  font-family: "Lumos";
  font-style: normal;
  src: local("Lumos"), url("./fonts/Lumoslatino-XA8K.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "HarryP";
  /* font-style: normal; */
  src: local("HarryP"), url("./fonts/HarryP-MVZ6w.ttf") format("truetype");
  /* font-weight: normal; */
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hidden {
  display: none;
}
.App {
  height: 100%;
  display: grid;
}

.main-card {
  width: 58rem;
  margin: 2rem auto 2rem auto;
}
.card-body {
  border-style: dashed;
  border-width: 5px;
  border-color: #ffed80;
  background-color: #222f5b;
  border-radius: 5px;
}

h1 {
  font-family: "Lumos";
  text-align: center;
  color: #740909;
  margin-top: 24px;
  padding-top: 24px;
}
label {
  font-size: larger;
  font-weight: 800;
  /* font-family: Lumos; */
  padding: 2px 6px 2px 6px;
  margin: 0px 8px 0px 8px;
  font-weight: 500;
  color: #ffed80;
}

#myRange,
#danceSpeed {
  width: 50%;
}
.btn {
  color: #740909;
}
.custom-file {
  width: 50%;
}

canvas {
  border: 1px solid black;
}
#percentage-symbol {
  font-family: Lumos;
}
.camera-stream {
  /* position: relative; */
  /* top: 2px; */
  /* left: 10.5em; */
  height: 20em;
}
.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5rem 0.5rem;
}
